<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4-year Planner</title>
</head>
<body>
    <h1>Python Using Django Webframework</h1>
    <table border="1">
        <tr>
            <th>Courses</th>
            <th>Fall2018</th>
            <th>Spring2019</th>
            <th>Fall2019</th>
            <th>Spring2020</th>
            <th>Fall2020</th>
            <th>Spring2021</th>
            <th>Fall2021</th>
            <th>Spring2022</th>
        </tr>
        <tr>
            <td>
                {% for cor in cs %}
               <pre> {{cor.Courses}}<br></pre>
                {% endfor %}
            </td>
            <td>
                 {% for cor in cs %}
               <pre>   {{cor.Fall2018}}<br></pre>
                {% endfor %}
            </td>
            <td>
                 {% for cor in cs %}
               <pre>    {{cor.Spring2019}}<br></pre>
                {% endfor %}
            </td>
            <td>
                 {% for cor in cs %}
               <pre>   {{cor.Fall2019}}<br></pre>
                {% endfor %}
            </td>
             <td>
                 {% for cor in cs %}
               <pre>    {{cor.Spring2020}}<br></pre>
                {% endfor %}
            </td>
            <td>
                 {% for cor in cs %}
               <pre>  {{cor.Fall2020}}<br></pre>
                {% endfor %}
            </td>
             <td>
                 {% for cor in cs %}
               <pre>    {{cor.Spring2021}}<br></pre>
                {% endfor %}
            </td>
            <td>
                 {% for cor in cs %}
               <pre>   {{cor.Fall2021}}<br></pre>
                {% endfor %}
            </td>
              <td>
                 {% for cor in cs %}
               <pre>    {{cor.Spring2022}}<br></pre>
                {% endfor %}
            </td>
        </tr>
    </table>>
</body>
</html>
